# SYSTEM (REQUIRED)

# [submodule "packages/system/xotomicro-back-stream-system"]
# 	path = packages/system/xotomicro-back-stream-system
# 	url = https://github.com/xotomicro/xotomicro-back-stream-system.git

# SERVER (REQUIRED)

# [submodule "packages/server/xotomicro-back-eureka-server"]
# 	path = packages/server/xotomicro-back-eureka-server
# 	url = https://github.com/xotomicro/xotomicro-back-eureka-server.git

# SERVICE (REQUIRED)
